/**GLOBAL STYLES */

 :root {
    --heading-footer-bg-color: #6d0c74;
    --primary-font-color: #fdecff;
    --section-bg-color: #7f78d2;
    --secondary-font-color: #d2d0fe;
    --general-font-color: #2e0231;
}


/**

    font-family: 'Sacramento', cursive;

    font-family: 'Merriweather Sans', sans-serif;

    font-family: 'Poppins', sans-serif;
 */

html {
    font-size: 100%;
}

body {
    font-family: 'Poppins', sans-serif, Arial, Helvetica;
    text-align: center;
    font-size: 1.2rem;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    color: var(--general-font-color);
}


/* NAVIGATION STYLES */

.logo {
    width: 60px;
}

nav {
    background-color: var(--heading-footer-bg-color);
    color: var(--primary-font-color) !important;
}

.navbar-nav {
    align-items: flex-start;
}

.navbar {
    padding: 15px;
}

a.navbar-brand {
    font-family: 'Sacramento', cursive;
    font-size: 2rem;
    color: var(--section-bg-color)!important;
    font-weight: bolder;
}


/**INTRODUCTION-SECTION STYLES */

section#introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: var(--heading-footer-bg-color);
    /*background-image: url(images/hero_art_screens.png);*/
    padding: 10px;
}

div.intro {
    margin-bottom: 150px;
}

#introduction h1 {
    font-family: 'Sacramento', cursive;
    font-size: 5rem;
    font-weight: bolder;
    color: #7f78d2;
    line-height: 1.1;
    margin-bottom: 10px;
    position: relative;
    animation: introduction-h1;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes introduction-h1 {
    0% {
        top: -700px;
    }
    100% {
        top: 0px;
    }
}

#introduction p {
    width: 70%;
    margin: 5px auto 0px auto;
    font-size: 1.7rem;
    color: var(--primary-font-color);
    padding: 0px;
    position: relative;
    animation: introduction-paragraph;
    animation-duration: 3s;
    animation-timing-function: ease-out;
}

@keyframes introduction-paragraph {
    0% {
        left: -700px;
    }
    100% {
        left: 0px;
    }
}


/**WELCOME-SECTION STYLES */

section#welcome-section {
    background-color: var(--section-bg-color);
    background-image: url(images/my-logo-2.png);
    background-attachment: fixed;
    padding: 20px;
}

section#welcome-section h2,
h3 {
    color: var(--heading-footer-bg-color);
}

div.welcome {
    width: 80%;
    min-width: 600px;
    margin: 10px auto;
    display: flex;
    align-content: center;
    justify-content: center;
}

img.my-photo {
    display: block;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition-property: border-radius;
    transition-duration: 1.5s;
    transition-delay: 1.5sec;
}

img.my-photo:hover {
    border-radius: 0px;
}

div.welcome-paragraph {
    text-align: left;
    width: 50%;
    padding-left: 10px;
}

img.frontend-skill-image,
img.ms-0ffice-skills-image {
    display: block;
    width: 30px;
    height: 30px;
}

article.skills {
    width: 90%;
    margin: 0px auto;
    background-color: var(--heading-footer-bg-color);
    border-radius: 2%;
    padding: 5px;
    max-width: 500px;
    opacity: 0.8;
}

article.skills h2,
h3 {
    color: var(--primary-font-color);
}

.article-skill-heading {
    font-size: 1.2rem;
}

div.skills {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    padding-bottom: 15px;
}

div.skill-icons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}


/* PROJECT SECTION STYLES */

section#projects {
    background: var(--section-bg-color);
    padding: 20px;
}

section#projects h2,
h4,
a {
    color: var(--primary-font-color);
    text-decoration: none;
}

.project-title {
    font-size: 1.2rem;
}

div.project-grid {
    margin: 0px auto;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
}

div.project-grid img {
    display: block;
    width: 100%;
    min-width: 250px
}

div.project-grid h4 {
    background: var(--heading-footer-bg-color);
    padding: 5px;
    margin-top: 0px;
    font-weight: 100;
}

span.code {
    color: var(--heading-footer-bg-color);
}

div.project-link:hover span.code {
    color: var(--primary-font-color);
}


/* CONTACT SECTION STYLES */

section#contact {
    background-image: url(images/my-logo-2.png);
    background-attachment: fixed;
    padding: 20px;
    margin: 0px auto;
}

section#contact ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    padding-left: 0px;
}

section#contact ul li {
    list-style-type: none;
    margin: 10px;
}

section#contact img {
    width: 40px;
    height: 40px;
}

footer {
    background: var(--heading-footer-bg-color);
    color: var(--primary-font-color);
    padding: 5px 0px;
}

p.footer {
    margin: 10px;
    font-size: 1.1rem;
    line-height: 1.5;
}


/* FA SOCIAL ICONS */

.fa-social-icons {
    margin: 10px;
}

.fa-facebook-f,
.fa-twitter,
.fa-linkedin,
.fa-github {
    color: var(--heading-footer-bg-color);
}


/**TABLE STYLES */

table {
    text-align: left;
    margin: 0px auto !important;
}

caption.contact-details {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    color: inherit;
    font-size: inherit;
    text-align: center;
    caption-side: top;
    font-weight: bold;
}

table th {
    width: 100px;
}

iframe {
    font-family: 'Poppins', sans-serif, Arial, Helvetica !important;
    margin: auto;
    position: static;
    border: medium none;
    display: block;
    overflow: hidden;
    width: 60% !important;
    height: 988.767px;
}

@media (max-width: 600px) {
    iframe {
        width: 90% !important;
    }
}

@media screen and (max-width: 700px) {
    body {
        /* overflow-x: hidden; */
        font-size: 1rem;
    }
    div.welcome {
        flex-direction: column;
        min-width: 0px;
    }
    div.welcome-paragraph {
        width: 100%;
        margin: 0px;
    }
    div.intro {
        margin-top: 0px;
    }
    #introduction h1 {
        font-size: 4rem;
    }
    #introduction p {
        width: 100%;
        font-size: 1.4rem;
    }
    article.skills {
        width: 100%;
    }
    div.skills {
        grid-template-columns: 1fr;
    }
    div.skill-icons {
        padding-left: 10%;
    }
    div.project-grid {
        width: 100%;
        grid-template-columns: 1fr;
        grid-gap: 5px;
    }
    section#contact {
        padding: 5px;
    }
    table th {
        width: 100px;
    }
    table {
        font-size: .9rem;
    }
    img.my-photo {
        display: block;
        max-width: 200px;
        max-height: 200px;
        width: 100%;
        height: 100%;
        min-width: 100px;
        min-height: 100px;
    }
    section#contact img {
        width: 35px;
        height: 35px;
    }
}

@media(max-width:568px) {
    div.intro {
        padding-top: 50px;
    }
    #introduction h1 {
        font-size: 3rem;
        margin-top: 100px;
    }
    #introduction p {
        margin-top: 20px;
        width: 100%;
        font-size: 1.2rem;
    }
}


/* @media(max-width:568px) {
    div.nav-list-items {
        display: none
    }
}

@media(min-width:568px) {
    .open-slide {
        display: none;
    }
} */